@media screen  and (max-width: 850px){
    .main-box{
        padding: 10px;
    }
    .main-box .container-1{
        width: 100%;
        padding: 0;
        flex-wrap: wrap;
    }
    .main-box .container-1 .cnt-box1{
        width: 100%;
        height: 50%;
        padding: 20px 0;
    }
    .main-box .container-1 .cnt-box1 h1{
        font-size: 2rem;
        margin-top: 60px;
        margin-bottom: 19px;
    }
    .main-box .container-1 .cnt-box1 p{
        font-size: .85rem;
        margin: 0 0 30px 0;
        font-weight: 600;
    }
    .main-box .container-1 .cnt-box1 .btns button{
        font-size: 90%;
        font-weight: 500;
    }
    .main-box .container-1 .cnt-box2{
        width: 100%;
        height: 58%;
    }
    .main-box .container-1 .cnt-box2 img{
        width: 100%;
        margin: 0;
    
    }
}

@media screen  and (min-width: 851px) and (max-width:1250px){
    .main-box{
        padding: 0 40px;
    }
    .main-box .container-1{
        width: 100%;
        padding: 32px 0 80px 0;
        flex-wrap: nowrap;
    }
    .main-box .container-1 .cnt-box1{
        width: 50%;
        height: 100%;
        padding: 20px 0;
    }
    .main-box .container-1 .cnt-box1 h1{
        font-size: 2rem;
        margin-top: 60px;
        margin-bottom: 19px;
    }
    .main-box .container-1 .cnt-box1 p{
        font-size: .85rem;
        margin: 0 0 30px 0;
        font-weight: 600;
    }
    .main-box .container-1 .cnt-box1 .btns button{
        font-size: 90%;
        font-weight: 500;
    }
    .main-box .container-1 .cnt-box2{
        width: 50%;
        height: 100%;
    }
    .main-box .container-1 .cnt-box2 img{
        width: 100%;
        margin: 0;
    
    }
}



@media screen  and (max-width: 850px){
    .main-box .container-2 {
        
        height: auto;
        width: 100%;
        padding: 60px 0;
        
    
    }
    .main-box .container-2 p{
        font-size: 1.46rem;
    }
    .main-box .container-2 .all-icon{
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-top: 20px;
    }
}
@media screen  and (min-width: 851px) and (max-width:1250px){
    .main-box .container-2 {
        height: auto;
        width: 100%;
        padding: 80px 0;
    }
    .main-box .container-2 p{
        font-size: 1.46rem;
    }
    .main-box .container-2 .all-icon{
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin-top: 25px;
    }
}

@media screen  and (max-width: 850px){
    .main-box .container-3 {
        height: auto;
        width: 100%;
        padding: 60px 0;
        margin: auto;
    }
    .main-box .container-3 .first{
        width:100%;
        height: auto;
        margin-bottom: 40px;
        text-align: center;
    }
    .main-box .container-3 .first h1{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .main-box .container-3 .two-divs{
        width:100%;
        display: flex;
        height: 900px;
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }
    .main-box .container-3 .two-divs .left-div{
        width: 100%;
        height: auto; 
    }
    .main-box .container-3 .two-divs .right-div{
        width: 100%;
        height: auto;
    }
    .main-box .container-3 .two-divs .right-div .owerflow{
        width: 100%;
        height: 100%;
        
    }
    .two-divs .right-div .owerflow .screen{
        width: 100%;
        height: auto;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        
    }
    .two-divs .left-div .rate{
        width: 100%;
     }
     .main-box .container-3 .callout{
        margin-top: 60px;
        width: 100%;
        height: auto;
    }
     
    
}
@media screen  and (min-width: 851px) and (max-width:1250px){
    .main-box .container-3 {
        height: auto;
        width: 100%;
        padding: 80px 0;
        margin: auto;
    }
    .main-box .container-3 .first{
        width:100%;
        height: auto;
        margin-bottom: 40px;
        text-align: center;
    }
    .main-box .container-3 .first h1{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .main-box .container-3 .two-divs{
        width:100%;
        display: flex;
        height: 620px;
        flex-wrap: nowrap;
    }
    .main-box .container-3 .two-divs .left-div{
        width: 35%;
        height: auto; 
    }
    .main-box .container-3 .two-divs .right-div{
        width: 50%;
        height: 100%;
    }
   
    .two-divs .right-div .owerflow .screen{
        width: 100%;
        position: absolute;
        
    }
    .two-divs .left-div .rate{
        width: 100%;
     }
     .main-box .container-3 .callout{
        margin-top: 60px;
        width: 100%;
        height: auto;
    }
}


@media screen  and (max-width: 850px){
    .main-box .container-4{
        max-width: 1350px;
        height: auto;
        width: 100%;
        padding: 0 0 60px 0;
        margin: auto;
        flex-wrap:wrap-reverse;
    }
    .main-box .container-4 .AI-box-1{
        width: 100%;
        height: 40%;
    }
    .main-box .container-4 .AI-box-1 .inner{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .main-box .container-4 .AI-box-img{
        width: 100%;
        height: 60%;
    }
    .main-box .container-4 .AI-box-img img{
        width: 100%;
    }
}


@media screen  and (max-width: 850px){
    .main-box .container-5{
        /* height: 950px; */
        min-height: 950px;
        padding: 60px 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-box .container-5 .current-book .owerflow-2{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        left: 0;
    }
    .main-box .container-5 .current-book .owerflow-2 .imgs{
        margin-left: 13px;
        height: 50%;
        width: 100%;
    }
    
    .main-box .container-5 .current-book{
        width: 100%;
        height: 456px;
        overflow: hidden;
    }
    
    .current-book .owerflow-2 .img-book{
        width: 320px;
        height: 436px;
        
    }
    .current-book .owerflow-2 .book-img img{
        width: 100%;
        height: 100%;
    }
    .main-box .container-5 .copy{
        width: 100%;
        height: 50%;
        padding: 0;
        text-align: center;
    }
}
@media screen  and (min-width: 851px) and (max-width:1250px){
    .main-box .container-5{
        /* height: 950px; */
        width: 100%;
        min-height: 450px;
        padding: 60px 0;
        justify-content: space-between;
    }
    .main-box .container-5 .current-book .owerflow-2{
        width: 1008px;
        height: 100%;
        position: absolute;
        left: -130%;
        display: flex;
        /* justify-content: end; */
       
    }
    .main-box .container-5 .current-book .owerflow-2 .imgs{
        margin-left: 13px;
        height: 100%;
        width: 50%;
    }
    
    .main-box .container-5 .current-book{
        width: 50%;
        height: 456px;
        margin-right: 30px;
        position: relative;
    }
    
    .current-book .owerflow-2 .img-book{
        width: 320px;
        height: 436px;
        
    }
    .current-book .owerflow-2 .book-img img{
        width: 100%;
        height: 100%;
    }
    .main-box .container-5 .copy{
        width: 36%;
        height: 100%;
        padding:0;
    }
}

@media screen  and (max-width: 850px){
    .box-5{
        width: 100%;
        height: 500px;
        padding: 100px 0;
        background-color: #111324;
        background-image: none;
        text-align: center;
    }
    .main-box .container-6{
        height: auto;
        width: 100%;
        padding: 0 10px;
        margin: auto;
        display: flex;
        align-items: center;
    }
    .main-box .container-6 .success{
        height:100%;
        color: white;
    }
    .main-box .container-6 .success h4{
        font-size: 1.5rem;
        line-height: 35px;
    }
}
@media screen  and (min-width: 851px) and (max-width:1250px){
    .box-5{
        width: 100%;
        height: 406px;
        padding: 100px 50px;
        background-image:url(banner-ripcurl.jpg);
        background-position: top;
        background-size: cover;
    }
}

@media screen  and (max-width: 850px){
    .box-6{
        background-color: #F6F6F7;
        height: auto;
        background-image: none;
        
    }
    .main-box .container-7{
        height: 100%;
        width: 100%;
        flex-wrap: wrap;
        
    }
    .main-box .container-7 .left-img{
        width: 100%;
        height: 50%;
        
        
    }
    .main-box .container-7 .sms-box{
        width: 100%;
        height: 50%;
        padding: 64px 32px;
        margin-left: 0;
    }
    .main-box .container-7 .left-img .overlap img{
        width: 100%;
        
    }
    .main-box .container-7 .left-img .overlap .big-ball{
       z-index: -1;
    }
    .main-box .container-7 .left-img .overlap .small-ball{
        z-index: -1;
    }

}
@media screen  and (min-width: 851px) and (max-width:1250px){
    .box-6{
        background-color: #F6F6F7;
        height:auto;
        background-image: url(sms-vector-bg-no-dots.svg);
        background-repeat: no-repeat;
        background-size: 555px 100%;
    }
    .main-box .container-7{
        height: 100%;
        width: 100%;
        
    }
    
    .main-box .container-7 .left-img{
        width: 50%;
        height: 100%;
        
        
    }
    .main-box .container-7 .sms-box{
        width: 50%;
        height: 100%;
        padding: 64px 0 64px 32px;
        margin-left: 0;
    }
    .main-box .container-7 .left-img .overlap img{
        width:414px;
        
    }
    .main-box .container-7 .left-img .overlap .big-ball{
        z-index: -1;
     }
     .main-box .container-7 .left-img .overlap .small-ball{
         z-index: -1;
     }
}
@media screen  and (max-width: 850px){
    .box-7 .hidden{
        height: 621px;
        display: flex;
        flex-wrap: wrap;
    }
    .main-box .container-4 .AI-box-img .img-bro{
        width:100%;
        margin: 0;
        padding-top: 30px;
    }
    .main-box .container-4 .inner-2{
        margin-top: 50px;
    }
    .main-box .container-4 .inner .raju{
        background-color: transparent;
        color: #7e5ffd;
        border: 2px solid #7e5ffd;
    }
    .main-box .container-4 .inner .raju:hover{
        background-color: #7e5ffd;
        color: #ffffff;
    }

}
@media screen  and (min-width: 851px) and (max-width:1250px){
    .box-7 .hidden{
        height: 620px;
    }
    .main-box .container-4 .AI-box-img{
        width: 60%;
        height: 460px;
    }
    .main-box .container-4 .AI-box-img .img-bro{
        width: 600px;;
        margin: 0;
        height: 100%;
        /* margin-top: 30px; */
        margin-left: 40px;
    }
    .main-box .container-4 .AI-box-2{
        width: 40%;
    }
    .main-box .container-4 .inner-2{
        text-align: start;
    }
    
}
@media screen  and (min-width: 851px) and (max-width:1250px){
    .box-5{
        width: 100%;
        background-image: url(thegist-bg.jpg);
        background-position: top;
        background-size: cover;
    }
    .main-box .container-6{
        
        width: 100%;
        padding: 80px 0;
        
    }
    
}
@media screen  and (min-width: 851px) and (max-width:1250px){
    .box-7{
        width: 100%;
        height: 587px;
        padding: 150px 0;
        background: linear-gradient(to right,#7857FF,#68ABFF);
    }
    .main-box .container-8{
        
        height: 100%;
        width: 100%;
    }
    .main-box .container-8 h3{
        width: 450px;
        font-size: 2.4rem;
    }
    .main-box .container-8 p{
        width: 500px;
        font-size: 1.1rem;
        padding: 0 10px;
    }
}
@media screen  and (max-width: 850px){
    .box-7{
        width: 100%;
        height: 587px;
        padding: 150px 0;
        background: linear-gradient(to right,#7857FF,#68ABFF);
    }
    .main-box .container-8{
        
        height: 100%;
        width: 100%;
    }
    .main-box .container-8 h3{
        width: 100%;
        font-size: 1.9rem;
    }
    .main-box .container-8 p{
        width: 100%;
        padding: 0 10px;
    }
}

@media screen  and (max-width: 850px){
    .box-8{
        width: 100%;
        height: auto;
        padding: 60px 10px 100px 10px;
        background-color: #111324;
    }
    .box-8 .foot-1{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .box-8 .foot-1 .foot-lists{
        width: 680px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        
    }
    .box-8 .foot-1 .foot-lists{
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
    .box-8 .foot-1 .foot-lists ul li{
        width: auto;
        padding: 0;
    }
    .box-8 .foot-1 .foot-lists ul li:first-child{
        color: #8A8B93;
    }
    li .li-img{
        width: 170px;
        overflow: hidden;
    }
    .hr{
        height: 100px;
        width: 100%;
        margin: auto;
        margin-top: 50px;
        display: flex;
        justify-content: center;
    }
    .hr .fita-icon{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hr .fita-icon .icons{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
    }
    .hr .fita-icon p{
        color: #d1d1da;
        font-size: .75rem;
        text-align: center;
        width: 100%;
        margin: 0;
    
    }
    .hr .fita-icon .term-copy .p2{
        width: 100%;
        text-align: center;
    }
    .hr .fita-icon .term-copy{
        display: flex;
        flex-direction: column;
        width: auto;
    }
    .marigold{
        height: auto;
        width: 100%;
        margin:auto;
        padding-top: 30px;
        margin-top: 60px;
        text-align: center;
    }
}

@media screen  and (min-width: 851px) and (max-width:1250px){
    .box-8{
        width: 100%;
        height: auto;
        padding: 60px 30px 100px 30px;
        background-color: #111324;
    }
    .box-8 .foot-1{
        height: auto;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .box-8 .foot-1 .foot-lists{
        width: 680px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        
    }
    .box-8 .foot-1 .foot-lists{
        width: 100%;
        height: auto;
        display: grid;
        
    }
    .box-8 .foot-1 .foot-lists ul li{
        width: auto;
        padding: 0;
    }
    .box-8 .foot-1 .foot-lists ul li:first-child{
        color: #8A8B93;
    }
    li .li-img{
        width: 170px;
        overflow: hidden;
    }
    .hr{
        height: 100px;
        width: 100%;
        margin: auto;
        margin-top: 50px;
        display: flex;
        justify-content: center;
        padding-top: 40px;
    }
    .hr .fita-icon{
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        /* margin-top: 30px; */
        
    }
    
    .hr .fita-icon .term-copy{
        display: flex;
    }
    .hr .fita-icon .term-copy p{
        color: #d1d1da;
        width: 310px;
        font-size: .75rem;
        padding-left: 20px;
        text-align: center;
    
    }
    .hr .fita-icon .term-copy .p2{
        width: 200px;
        padding-left: 10px;
    }
    .marigold{
        height: auto;
        width: 100%;
        margin:auto;
        padding-top: 20px;
        margin-top: 30px;
        text-align: center;
    }
}