*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

/****     Header part Start   ****/

header{
    height: 80px;
    width: 100%;
    background-color: #111324;
    position: fixed;
    z-index: 1;
}

.top-header{
    max-width: 1350px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo-side{
    width: 210px;
    height: 100%;
    
}
.full-logo{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.full-logo p{
    position: absolute;
    bottom: 23%;
    right: 2%;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 0.5rem;
}

.full-logo img{
    width: 100%;
    height: auto;
    
}
.menu{
    width: 620px;
    height: 100%;
    
}
.menu ul{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding-left: 0;
    
}
.menu ul li{
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
}
.menu ul li a span{
    font-weight: 400;
    color: #c1c2c6;
}
.menu ul li a span:hover{
    color: rgb(39, 181, 192);
}
.menu ul li i{
    margin-top: 5px;
    margin-left: 3px;
    height: auto;
    width: auto;
}
li.dropdown span {
    color: rgb(219, 219, 219);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 400;
    color: #c1c2c6;
  }

  li.dropdown i:hover{
    transform: rotate(180deg);
    color: rgb(39, 181, 192);
  }
.drop-down{
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 220px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 32%;
    left: -15px;
    margin-top: 30px;
  }
  .drop-down a{
    color: rgb(29, 26, 26);
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
  }
  .drop-down a:hover {
    background-color: rgb(65, 234, 246);
    
}
.dropdown .drop-down  a{
    color: black;
}
.dropdown:hover .drop-down{
  display: block;
}

.menu ul li a,i{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
}

.sign-in-side{
    width: 300px;
    height: 100%;
}
.sign-in-side ul{
    display: flex;
    padding: 0%;
    height: inherit;
    justify-content:space-evenly;
    list-style: none;
    margin-bottom: 0;
}
.sign-in-side ul li{
    height: 100%;
    display: flex;
    align-items: center;
}
.sign-in-side ul li a{
    text-decoration: none;
    color: #8e8f97;
    align-self: center;
    font-size: 1.1rem;
}
.sign-in-side ul li a span{
    font-weight: 400;
    color: #c1c2c6;
}
.sign-in-side ul li a span:hover{
    color: rgb(39, 181, 192);
}

.sign-in-side ul li button{
    font-weight: 600;
    padding: 8px 13px;
    border-radius: 3px;
    margin-top: -5px;
    background-color: rgb(62, 221, 243);
    border: none;
}
.sign-in-side ul li button a{
    color: black;
}
.menu-bar{
    position: relative;
}
.menu-bar i{
    display: none;
    font-size: 1.3rem;
    margin: 25px 20px;
    cursor: pointer;
}
.menu-drow{
    width: 400px;
    position: absolute;
    height: 500px;
    background-color: white;
}
.short-logo{
    display: none;
    width: 25px;
    display: flex;
    position: relative;
    justify-content: center;
}
.short-logo img{
    width: 25px;
    position: absolute;
    top: 25px;
    left: 40px;
}

/****  Header part End   *** */


/***   Header Part Media Query start   ***/

@media screen  and (max-width: 850px){
    .menu{
        display: none;
    }
    .sign-in-side{
        display: none;
    }
    .top-header{
        margin: 0 10px;
    }
    .full-logo{
        
        width: 140px;
    }
    .full-logo p{
        bottom: 30%;
        right: 2%;
        font-size: 0.5rem;
    }
    .menu-bar i{
        display: block;
        
    }
    .short-logo{
        display: none;
    }
   
}
@media screen  and (min-width: 851px) and (max-width:1250px){
    .menu{
        display: block;
        width: 450px;
    }
    .logo-side{
        width: 100px;
    }
    .drop-down a{
        font-size: .2rem;
    }
    .sign-in-side{
        width: 250px;
        display: block;
    }
    .full-logo{
        display: none;
    }
    .short-logo{
        display: block;
        
    }
    .menu-bar i{
        display: none;
        
    }
    .sign-in-side ul li a{
        font-size: .90rem;
    }
    .menu ul li a,i{
        font-size: 0.90rem;
    }
    li.dropdown span{
        font-size: .90rem;
    }
    .sign-in-side ul li button{
        padding: 6px 10px;
        font-size: .9rem;
    }
}

@media screen  and (min-width: 1251px) {
    .full-logo{
        margin: 0 20px;
        width: 200px;
    }
    .full-logo p{
        bottom: 27%;
        right: 2%;
    }
    .short-logo{
        display: none;
    }
    .menu{
        margin-left: 40px;
    }
    .sign-in-side{
        margin-left: 20px;
    }
}

/*   Header Media Query Complete   */


/* main box start */
section{
    padding-top: 80px;
    height: auto;
    width: 100%;
}
.main-box{
    height:auto;
    width: 100%;
    padding-left: 20px;
}
 



/* cont 1 */
.main-box .container-1{
    max-width: 1350px;
    height: auto;
    width: 100%;
    padding: 60px 0 20px 20px;
    margin: auto;
    display: flex;
}

.main-box .container-1 .cnt-box1{
    width: 44%;
    height: 600px;
}
.main-box .container-1 .cnt-box1 h1{
    font-size: 3rem;
    font-weight: 700;
    margin-top: 90px;
}
.main-box .container-1 .cnt-box1 p{
    font-size: 1.1rem;
    margin-top: 30px;
    font-weight: 600;
}
.main-box .container-1 .cnt-box1 .btns{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.main-box .container-1 .cnt-box1 .btns button{
    width: 48.5%;
    height: 60px;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 3px;
    font-weight: 600;
    background-color: #6944fc;
}
.main-box .container-1 .cnt-box1 .btns button a{
    text-decoration: none;
    color: white;
}
.main-box .container-1 .cnt-box1 .btns button:hover{
    background-color: #7553fb;
}

.main-box .container-1 .cnt-box1 .btns button:last-child{
    background-color: white;
    color: #714ff9;
    border: 1px solid #6642f8;
}
.main-box .container-1 .cnt-box1 .btns button:last-child:hover{
    background-color: #6642f8;
    color: white;
}

.main-box .container-1 .cnt-box2{
    width: 58%;
    height: 600px;
}
.main-box .container-1 .cnt-box2 img{
    width: 76%;
    margin-left: 150px;

}





/* cnt 2 s */
.box-1{
    background-color: #F6F6F7;
}
.main-box .container-2 {
    max-width: 1350px;
    height: 300px;
    width: 100%;
    padding: 70px 0 20px 20px;
    margin: auto;

}
.main-box .container-2 p{
    text-align: center;
    font-size: 1.56rem;
}
.main-box .container-2 .all-icon{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
.main-box .container-2 .all-icon img{
    width: 100px;
}





/* cnt 3 */
.main-box .container-3 {
    max-width: 1350px;
    height: 970px;
    width: 100%;
    padding: 80px 0;
    margin: auto;
}
.main-box .container-3 .first{
    width:100%;
    height: 120px;
    text-align: center;
}
.main-box .container-3 .first h1{
    
    font-size: 2.8rem;
    font-weight: 600;
}
.main-box .container-3 .two-divs{
    width:100%;
    height: 520px;
    display: flex;
    justify-content: space-between;

}
.main-box .container-3 .two-divs .left-div{
    width: 35%;
    height: 100%; 
}
 .two-divs .left-div .rate{
    width: 429px;
    height: 447px;
 }
 .two-divs .left-div .rate ul{
    list-style: none;
    padding: 0;
    font-size: .97rem;
 }
 .two-divs .left-div .rate ul .head-li{
    padding-top: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.two-divs .left-div .rate ul .para-li{
    font-weight: 500;
}
.left-div .rate ul .para-li a{
    text-decoration: none;
    color: #987ffd;
}
.main-box .container-3 .two-divs .right-div{
    width: 50%;
    height: 100%;
    position: relative;
}
.main-box .container-3 .two-divs .right-div .owerflow{
    width: 850px;
    height: 400px;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.two-divs .right-div .owerflow .owerflow-bar{
    width: 100%;
    height: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #F2F4F6;
    
}
.two-divs .right-div .owerflow .screen{
    width: 100%;
    position: absolute;
    
}
.two-divs .right-div .owerflow .screen img{
    width: 100%;
    
}
.main-box .container-3 .callout{
    padding-top: 60px;
    width: 100%;
    height: 170px;
    text-align: center;
}
.main-box .container-3 .callout h6{
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
}
.main-box .container-3 .callout button{
    font-size: 1.1rem;
    padding: 19px 40px;
    font-weight: 600;
    background-color: #724fff;
    color: white;
    border: none;
    border-radius: 4px;
}
.main-box .container-3 .callout button:hover{
    background-color: rgb(136, 107, 254);
}





/* cnt 4 */
.box-3{
    background-color:#F6F6F7;
}
.main-box .container-4{
    max-width: 1350px;
    height: 710px;
    width: 100%;
    padding: 80px 0;
    margin: auto;
    display: flex;
    align-items: center;
}
.main-box .container-4 .AI-box-1{
    width: 50%;
    height: 100%;
    display: flex;
}
.main-box .container-4 .AI-box-1 .inner{
    width: 470px;
    height: 260px;
    align-self: center;
}
.AI-box-1 .inner h1{
    font-weight: 600;
    font-size: 2rem;
}
.AI-box-1 .inner p{
    font-size: 1.2rem;
    font-weight: 500;
}
.AI-box-1 .inner button{
    padding: 20px 50px;
    margin-top: 20px;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    font-weight: 600;
    background-color: #6944fc;
    color: white;
}
.AI-box-1 .inner button:hover{
    background-color: #7654fd;
    color: white;
}
.main-box .container-4 .AI-box-img{
    width: 50%;
    height: 100%;
}
.main-box .container-4 .AI-box-img img{
    width: 507px;
}




.main-box .container-5{
    max-width: 1350px;
    height: 606px;
    width: 100%;
    padding: 80px 0;
    margin: auto;
    display: flex;
    align-items: center;
}
.main-box .container-5 .current-book{
    width: 65%;
    height: 100%;
    position: relative;
}
.main-box .container-5 .current-book .owerflow-2{
    width: 1008px;
    height: 100%;
    position: absolute;
    left: -24%;
    display: flex;
    justify-content: end;
    z-index: -1;
}
.main-box .container-5 .current-book .owerflow-2 .imgs{
    margin-left: 13px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.current-book .owerflow-2 .owerflow-2-bar{
    width: 320px;
    height: 10px;
    background-color: #F2F4F6;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.current-book .owerflow-2 .img-book{
    width: 320px;
    height: 436px;
    
}
.current-book .owerflow-2 .book-img img{
    width: 100%;
    height: 436px;
}
.main-box .container-5 .copy{
    width: 35%;
    height: 100%;
    padding-top: 60px;
    padding-left: 20px;
}
.main-box .container-5 .copy h1{
    margin-top: 30px;
    font-weight: 600;
}
.main-box .container-5 .copy p{
    font-size: 1.3rem;
}
.main-box .container-5 .copy .button{
    padding: 19px 38px;
    border: 3px solid #6944fc;
    color: #6942f8;
    background-color: white;
    border-radius: 3px;
}
.main-box .container-5 .copy .button:hover{
    background-color: #6642f8;
    color: white;
}





.box-5{
    width: 100%;
    height: 406px;
    padding: 100px 0;
    background-image: url(banner-ripcurl.jpg);
    background-position: top;
    background-size: cover;
}
.main-box .container-6{
    max-width: 1350px;
    height: 207px;
    width: 100%;
    padding: 80px 0;
    margin: auto;
    display: flex;
    align-items: center;
}
.main-box .container-6 .success{
    width: 925px;
    height: auto;
    color: white;
}
.main-box .container-6 .success h4{
    font-size: 1.5rem;
    line-height: 40px;
}
.main-box .container-6 .success h6{
    padding-top: 18px;
    padding-bottom: 10px;
}
.main-box .container-6 .success button{
    padding: 18px 45px;
    border-radius: 3px;
    background-color: white;
    color: #6942f8;
    font-size: 1rem;
    font-weight: 700
}
.main-box .container-6 .success button:hover{
    background-color: transparent;
    border: 2px solid white;
    color: white;
}






.box-6{
    background-color: #F6F6F7;
    height: 708px;
    background-image: url(sms-vector-bg-no-dots.svg);
    background-repeat: no-repeat;
    background-size: 803px;
    
}

.main-box .container-7{
    max-width: 1350px;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    
}
.main-box .container-7 .left-img{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    
    
}

.main-box .container-7 .left-img .overlap img{
    width: 650px;
    
}
.main-box .container-7 .left-img .overlap .big-ball{
    width: 80px;
    height: 80px;
    position: absolute;
    right: 8.2%;
    top: 32%;
    background: linear-gradient(#73c1f4,#4d75f8 );
    border-radius: 50%;
}
.main-box .container-7 .left-img .overlap .small-ball{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10.2%;
    top: 45%;
    background:#44b2c1;
    border-radius: 50%;
}
.main-box .container-7 .sms-box{
    width: 400px;
    height: 355px;
    margin-left: 100px;
}
.main-box .container-7 .sms-box h3{
    font-weight: 700;
    font-size: 2rem;
}
.main-box .container-7 .sms-box h3 span{
    font-style: italic;
    font-weight: 500;
    font-size: 2rem;
}
.main-box .container-7 .sms-box p{
    margin-top: 30px;
    font-size: 1.2rem;
    font-weight: 600;
}
.main-box .container-7 .sms-box button{
    padding: 18px 30px;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    background-color: #7554fa;
    color: white;
    font-size: 18px;
    font-weight: 700;

}
.main-box .container-7 .sms-box button:hover{ 
    background-color: #886AFF;
}
.main-box .container-4 .inner .raju{
    background-color: transparent;
    color: #7e5ffd;
    border: 2px solid #7e5ffd;
}
.main-box .container-4 .inner .raju:hover{
    background-color: #7e5ffd;
    color: #ffffff;
}



.box-7 .hidden{
    height: 621px;
}
.main-box .container-4 .AI-box-img .img-bro{
    width: 578px;
    margin-left: 80px;
}


.box-5{
    width: 100%;
    height: 406px;
    padding: 100px 0;
    background-image: url(thegist-bg.jpg);
    background-position: top;
    background-size: cover;
}



.box-7{
    width: 100%;
    height: 587px;
    padding: 150px 0;
    background: linear-gradient(to right,#7857FF,#68ABFF);
}
.main-box .container-8{
    max-width: 1350px;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-box .container-8 h3{
    width: 450px;
    margin: 0 0 40px 0;
    font-size: 2.4rem;
    text-align: center;
    font-weight: 600;
    color: white;
}
.main-box .container-8 p{
    width: 510px;
    text-align: center;
    font-size: 1.3rem;
    margin: 0 0 40px 0;
    font-weight: 500;
    color: white;
}
.main-box .container-8 button{
    padding: 20px 40px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: white;
    border: none;
    border-radius: 3px;
    color: #6942f8;
}
.main-box .container-8 button:hover{
    border: 2px solid #ffffff;
    background-color: transparent;
    color: white;
}




.box-8{
    width: 100%;
    height: auto;
    padding: 60px 44px 0 0;
    background-color: #111324;
}

.box-8 .foot-1{
    max-width: 1350px;
    height: 260px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-8 .foot-1 .foot-logo{
    width: auto;
    height: 50px;
    cursor: pointer;
}
.box-8 .foot-1 .foot-logo img{
    width: 200px;
}
.box-8 .foot-1 .foot-lists{
    width: 680px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
.box-8 .foot-1 .foot-lists ul{
    list-style: none;
    padding: 0;
}
.box-8 .foot-1 .foot-lists ul li{
    width: 170px;
    padding: 0 0 3px 0;
    margin: 0;
}
.box-8 .foot-1 .foot-lists ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 400;
}
.box-8 .foot-1 .foot-lists ul li:first-child{
    color: #8A8B93;
    font-weight: 800;
    text-transform: uppercase;
}
.hr{
    max-width: 1350px;
    height: 100px;
    width: 100%;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: end;
    border-top: 1px solid #A4A4AA;
}
.hr .fita-icon{
    width: auto;
    height: 100%;
    align-items: center;
    display: flex;

}
.hr .fita-icon .icons{
    width: 100%;
    height: auto;
    text-align: center;
}
.hr .fita-icon .term-copy{
    width: auto;
    display: flex;
}

.hr .fita-icon a{
    text-decoration: none;
    margin-left: 13px;
}
.hr .fita-icon a i{
    font-size: 1.4rem;
    color: #A4A4AA;
}
.hr .fita-icon p{
    margin: auto;
    color: #d1d1da;
    margin-left: 40px;
    font-size: .75rem;
    text-align: center;
    width: 300px;
}
.hr .fita-icon .term-copy .p2{
    width: 150px;
    padding-left: 0px;
    margin: 0;
}
.marigold{
    max-width: 1350px;
    /* height: 150px; */
    height: auto;
    width: 100%;
    margin:auto;
    padding-top: 30px;
    margin-top: 30px;
    text-align: center;
}
.marigold p{
    font-size: .75rem;
    color: #d1d1da;
}
.marigold img{
    width: 209px;
    margin-top: 11px;
    margin-bottom: 55px;
}